@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@600&family=Roboto:wght@500&display=swap');

.App {
  text-align: center;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.navbar-brand{
  color: black;
}

.nav-link{
  color: black;
}

.container-md{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 1rem;
  justify-items: center;
}

.card{
  width: 300px;
  height: 430px;
  border-style: none;
}

.pizza-image{
  width: 100%;
  height: 200px;
}

.card-name{
  font-size: 15px;
  font-weight: bold;
}

.ft-container, .ft-buy{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.btn{
  border-style: none;
  background-color: red;
  color: white;
}

select{
  box-shadow: none;
  border-color: black;
}

.price{
  font-weight: bold;
}

.loginform{
  width: 350px;
  height: 300px;
  align-items: center;
}

.registerationform{
  width: 350px;
  height: 350px;
  align-items: center;
}

label{
  margin-top: 20px;
}

.reg, .login{
  margin-top: 15px;
  margin-bottom: 15px;
}

.user{
  display: flex;
  justify-content: center;
}

.error{
  width: 100%;
  height: 100%;
}

.gohome{
  font-size: 30px;
}